/* VARIABLES */

.mppw-component-container {
  --form-btn-primary-bgcolor: #7B2D26;
  --form-btn-primary-hover: #a83d33;
  --form-btn-primary-active: #7B2D26;
  --border-radius: 8px;
}


/* STYLING FOR EVENTS SEARCH FORM */


/* get rid of event finder title */
.mppw-form-wrapper > h1 {
  display: none;
  visibility: hidden;
}

/* puts filter inputs in a horizontal line instead of stacked */
.mppw-form {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 48px;
  gap: 1rem;
}

.mppw-form .mppw-form-field {
  background-color: var(--form-field-bgcolor--active);
}

.mppw-form .mppw-form-field * {
  background-color: transparent;
  border: none;
}

/* hide keyword input and month inputs */
.mppw-form #advancedSearchSection .mppw-form-field:nth-of-type(1) {
  display: none;
  visibility: hidden;
}

.mppw-form > .mppw-form-field:nth-of-type(1), .mppw-form > .mppw-form-field:nth-of-type(2) {
  width: 20%;
}
/* .mppw-form #advancedSearchSection .mppw-form-field:nth-of-type(2) {
  order: 1;
}
.mppw-form #advancedSearchSection .mppw-form-field:nth-of-type(3) {
  order: 2;
}
.mppw-form #advancedSearchSection .mppw-form-field:nth-of-type(4) {
  order: 3;
} */

/* always show advanced options */
.mppw-form #advancedSearchSection {
  display: flex !important;
  width: 60%;
  gap: 1rem;
  order: 3;
}

/* hide show advanced button */
.mppw-right {
  display: none;
  visibility: hidden;
}

/* set width of input options and their black border when you click on them */
.mppw-form-field {
  width: 100%;
  border: 2px solid transparent;
  border-radius: 6px;
  margin: 0;
}
.mppw-form-field:focus-within {
  border: 2px solid black;
}

/* make inputs labels always black text (otherwise blue when you click on them) */
.mppw-form-field label {
  color: black !important;
}

/* get rid of default shadow, border, and outline */
.mppw-form-field input, .mppw-form-field select {
  outline: none;
  border: none;
  box-shadow: none !important;
}

/* position 'search events' button */
.mppw-form .mppw-centered {
  width: 100%;
  text-align: right;
  position: absolute;
  right: 0;
  top: calc(100% + 1rem);
}

/* set width of 'search events' button to match inputs above it */
.mppw-form #searchButton {
  width: calc((50% / 3) - 1rem);
  box-shadow: none;
  margin: 0;
}

@media screen and (max-width: 1180px) {
  /* stack filter form sections */
  .mppw-form {
    flex-direction: column;
    gap: 1rem;
  }
  /* remove left side margin */
  .mppw-form #advancedSearchSection {
    margin: 0;
  }

  .mppw-form .mppw-form-field.mppw-form-field:nth-of-type(1), .mppw-form .mppw-form-field:nth-of-type(2) {
    width: 100%;
  }
  .mppw-form #advancedSearchSection {
    display: flex !important;
    width: 100%;
    gap: 1rem;
  }
  
  /* set search events button width to match button above */
  .mppw-form #searchButton {
    width: calc((100% / 3) - 1rem);
  }
}

@media screen and (max-width: 768px) {
  /* stack all inputs in a column */
  .mppw-form #advancedSearchSection {
    flex-direction: column;
  }
  /* nothing above it to line up with anymore so it can be any width */
  .mppw-form #searchButton {
    width: max-content;
  }
}




/* EVENT CARD STYLING */

.mppw-card--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 0;
  gap: 2rem 1rem;
}

.mppw-card--grid .mpp-card {
  box-shadow: none;
  border-radius: var(--border-radius);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow: visible;
  position: relative;
  cursor: pointer;

  transition: transform 200ms ease, box-shadow 200ms ease;
}

.mppw-card--grid .mpp-card:hover, .mppw-card--grid .mpp-card:focus-within {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 9px -1px, rgba(0, 0, 0, 0.3) 0px 5px 7px -1px;
  transform: translateY(-4px);
}

.mppw-card--grid .mpp-card .mpp-card--header {
  position: static;
  border-radius: var(--border-radius);
  padding: 0 .5rem;
  background-color: white;
}
.mppw-card--grid .mpp-card .mpp-card--header img {
  border-radius: inherit;
  position: relative;
  bottom: .5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  aspect-ratio: 16/9;
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  object-fit: contain;
  background-color: black;
}

.mppw-card--grid .mpp-card .mpp-card--header .mpp-card--badge.featured {
  inset: 0;
  border-radius: 0;
  background-color: transparent;
  color: transparent;
  box-shadow: #f1c40f 0px 5px 15px, #f1c40f 0px 0px 0px 1px;
  border-radius: 8px;
}

.mppw-card--grid .mpp-card .mpp-card--footer {
  /* display: none;
  visibility: hidden; */
  height: 0;
  padding: 0;
  overflow: hidden;
}

.mppw-card--grid .mpp-card .mpp-card--body {
  padding: 0;
  height: 100%;
}

.mppw-card--grid .mpp-card .mpp-card--body .text--container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: .5rem 1rem;
  padding-top: 0;
  color: black;
}

.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--title {
  order: 2;
  font-size: 1.75em;
  margin: .5rem 0;
}
.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-date-range {
  order: 3;
}
.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-location {
  order: 1;
  color: var(--form-btn-primary-bgcolor);
}
.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-location, .mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-date-range {
  position: relative;
  margin-left: 2ch;
  padding-left: 1ch;
  font-size: 1.1em;
}

.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-location::after, .mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-date-range::after {
  font-family: "Font Awesome 6 Free";
  content: '\f124';
  position: absolute;
  color: var(--form-btn-primary-bgcolor);
  top: 0;
  left: 0;
  transform: translateX(-100%);
}
.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--subtitle.event-date-range::after {
  content: '\f073';
  color: inherit;
}

.mppw-card--grid .mpp-card .mpp-card--body .mpp-card--description {
  display: none;
  visibility: hidden;
}

@media screen and (max-width: 1024px) {
  .mppw-card--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .mppw-card--grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
